#----------------------------------------------------------------------------
#                               Global snippets
#----------------------------------------------------------------------------
#   To add new snippet:
#	1. check filetype e.g.:
#		:set filetype
#   2. then to do that automatically add in .vimrc:
#		au BufNewFile,BufRead *.endfile set filetype=endfile
#
#
#----------------------------------------------------------------------------
snippet c)
	`&enc[:2] == "utf" ? "©" : "(c)"` Copyright `strftime("%Y")` ${1:`g:snips_author`}. All Rights Reserved.${2}
snippet date
	`strftime("%Y-%m-%d")`
snippet //-
	//------------------------------------------------------------------------------${1}
snippet //=
	//==============================================================================${1}
snippet #-
	#-------------------------------------------------------------------------------${1}
snippet //*
	//******************************************************************************${1}
#
#
#snippet #--
#	#-------------------------------------------------------------------------------
#	# ${1:header comment}
#	#-------------------------------------------------------------------------------${2}
snippet #--
	#---------------------------------------------------------------------------#}}}
	# ${1:header comment} #{{{
	#-------------------------------------------------------------------------------
	${2}
snippet ;--
	;}}}#---------------------------------------------------------------------------
	;	${1:header comment}
	;---------------------------------------------------------------------------#{{{${2}
snippet #{
	#}}}#---------------------------------------------------------------------------
	#	${1:header comment}
	#---------------------------------------------------------------------------#{{{${2}
snippet //==
	//==============================================================================
	// ${1:header comment}
	//==============================================================================${2}
snippet //**
	//******************************************************************************
	//                          ${1:header comment}
	//******************************************************************************${2}
snippet //--
	//------------------------------------------------------------------------------
	// ${1:header comment}
	//------------------------------------------------------------------------------${2}
#
#
#
snippet #{{{
	#{{{
	${1}
	#}}}
