#-------------------------------------------------------------------------------
# awk
#-------------------------------------------------------------------------------
snippet awk
	#!/usr/bin/awk -f

#-------------------------------------------------------------------------------
# begin
#-------------------------------------------------------------------------------
snippet begin
	BEGIN { 
	
	} {

	}
	END{
	 
	}
