[submodule "bundle/perlomni"]
	path = bundle/perlomni
    url = git://github.com/c9s/perlomni.vim
[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "vim-fswitch"]
	path = vim-fswitch
	url = git://github.com/derekwyatt/vim-fswitch
